<div style="border: red dashed 5px; padding: 5px">
    I am a host MFE that is loading a remote dynamically through
    rx-dynamic-component
    <div rxDynamic [load]="dynamicRemote$ | async"></div>
</div>
<div style="border: blue dashed 5px; margin-top: 5px" *ngIf="show$ | async">
    <div>
        I will remove myself in 5 seconds to demonstrate unsubscribing outputs.
    </div>
    <div
        rxDynamic
        inputOutputAdapter
        [name]="randomNameEverySecond$ | async"
        (myName)="nameStreamFromOutput$.next($event)"
        [load]="dynamicStandaloneComponentType$ | async"
    ></div>
    <div>I said my name was: {{ nameStreamFromOutput$ | async }}</div>
</div>
<div style="border: orange dashed 5px; margin-top: 5px">
    <div rxDynamic [load]="dynamicModule$ | async"></div>
</div>
<div style="border: purple dashed 5px; margin-top: 5px">
    <div>
        Loaded through the manifestId rather than passing in the ComponentType
        directly.
    </div>
    <div rxDynamic load="dynamic-idle-standalone"></div>
</div>
<div style="border: red dashed 5px; margin-top: 5px">
    With lazy dynamic outlet, loaded once in view with intersection observer
    <rx-lazy-dynamic-outlet
        [load]="dynamicModule$ | async"
    ></rx-lazy-dynamic-outlet>
</div>
<div style="border: black dashed 5px; margin-top: 5px">
    I am rendering components at the bottom
    <div
        rxDynamic
        [load]="dynamicRenderedAt$ | async"
        [replace]="false"
        [insertAtEnd]="true"
    ></div>
</div>
<div style="border: blue dashed 5px; margin-top: 5px">
    I am rendering components at the top
    <div
        rxDynamic
        [load]="dynamicRenderedAt$ | async"
        [replace]="false"
        [insertAtEnd]="false"
    ></div>
</div>
