version: 2.1

orbs:
    node: circleci/node@4.1

jobs:
    build-and-test:
        parameters:
            flags:
                type: string
                default: ''
        docker:
            - image: cimg/node:12.20
        steps:
            - checkout
            - node/install-packages:
                  pkg-manager: yarn
            - run:
                  name: Run tests
                  command: yarn nx affected:test --parallel << parameters.flags >>
            - run:
                  name: Build
                  command: yarn nx affected:build

workflows:
    run:
        jobs:
            - build-and-test:
                  name: build-and-test-pr
                  filters:
                      branches:
                          ignore: master
            - build-and-test:
                  name: build-and-test-master
                  flags: '--all'
                  filters:
                      branches:
                          only: master
