<button (click)="open()">Open</button>

<div class="query-container">
    <div>
        <label for="querySelect">Select a Query Param</label>
        <select
            [(ngModel)]="selected"
            id="querySelect"
            (change)="changeQueryParams($event)"
        >
            <option value="query1">query1</option>
            <option value="query2">query2</option>
        </select>
    </div>
    <div style="border: 2px solid orange">
        <rx-dynamic-outlet
            [factory]="queryParamComponent$ | async"
        ></rx-dynamic-outlet>
        <!--        <div *ngFor="let el of arr" style="height: 500px; border: black solid">-->
        <!--            <rx-lazy-dynamic-outlet [factory]="queryParamComponent$ | async">-->
        <!--            </rx-lazy-dynamic-outlet>-->
        <!--        </div>-->
    </div>
</div>
