<button (click)="open()">Open</button>
<rx-dynamic-outlet
    [componentType]="queryParamComponent$ | async"
    [data]="data$ | async"
></rx-dynamic-outlet>

<div class="query-container">
    <div>
        <label for="querySelect">Select a Query Param</label>
        <select
            [(ngModel)]="selected"
            id="querySelect"
            (change)="changeQueryParams($event)"
        >
            <option value="query1">query1</option>
            <option value="query2">query2</option>
        </select>
    </div>
    <div style="border: 2px solid orange">
        Demo of lazy loaded outlet
        <div *ngFor="let el of arr" style="height: 500px; border: black solid">
            <rx-lazy-dynamic-outlet
                [componentType]="queryParamComponent$ | async"
            >
            </rx-lazy-dynamic-outlet>
        </div>
    </div>
</div>
